{% extends 'base.html.twig' %}

{% block title %}ShoppingCart Index{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Produit</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Show CartShoping</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-11">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>IdCart</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for shopping_cart in shopping_carts %}
                                        <tr>
                                            <td>{{ shopping_cart.idCart }}</td>
                                            <td>{{ shopping_cart.price }}</td>
                                            <td>{{ shopping_cart.quantity }}</td>
                                            <td>
                                                <a href="{{ path('app_shopping_cart_show', {'idCart': shopping_cart.idCart}) }}">Show</a>
                                                <a href="{{ path('app_shopping_cart_edit', {'idCart': shopping_cart.idCart}) }}">Edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">No records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <a href="{{ path('app_shopping_cart_new') }}">Create new</a>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
